<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Môn Thi</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <a class="btn btn-primary" th:href="@{/monthis/add}">Thêm Môn Thi</a>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <h1>Danh Sách Môn Thi</h1>
                </div>
            </nav>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <!--<th><a th:href="@{/monthis(pageNo=${currentPage}, sortBy='id')}">Id</a></th>-->
            <th>Tên Môn Thi</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Vòng lặp hiển thị danh sách Môn Thi -->
        <tr th:each="monThi : ${monthis}">
            <!--<td th:text="${monThi.id}"></td>-->
            <td th:text="${monThi.tenMonThi}"></td>
            <td>
                <!-- Nút Ẩn/Hiện -->
                <form th:action="@{/monthis/anhien/{id}(id=${monThi.id})}" method="post" style="display: inline;">
                    <button type="submit" th:classappend="${monThi.trangThai == 0 ? 'btn btn-primary' : 'btn btn-danger'}">
                        <span th:text="${monThi.trangThai == 0 ? 'Hiện' : 'Ẩn'}"></span>
                    </button>
                </form>
                <!-- Nút chỉnh sửa -->
                <a class="btn btn-primary" sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/monthis/edit/{id}(id=${monThi.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/list.js}"></script>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
