<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THÔNG TIN PHIẾU ĐĂNG KÝ</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">THÔNG TIN CUỘC THI</h4>
                </div>
                <div class="card-body">
                    <p>Tên cuộc thi: <span th:text="${phieuDangKy.cuocThi.tenCuocThi}"></span></p>
                    <p>Môn thi: <span th:text="${phieuDangKy.cuocThi.monThi.getTenMonThi()}"></span></p>
                    <p>Cấp thi: <span
                            th:text="${loaiTruongService.getLoaiTruongById(phieuDangKy.cuocThi.loaiTruongId).getTenLoaiTruong()}"></span>
                    </p>
                    <p>Thời gian: <span th:text="${phieuDangKy.cuocThi.ngayThi}"></span></p>
                    <p>Địa điểm: <span th:text="${phieuDangKy.cuocThi.diaDiemThi}"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">PHIẾU ĐĂNG KÝ</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="userCCCD" class="form-label">CCCD</label>
                        <p><span class="form-control" id="userCCCD" th:text="${phieuDangKy.user.cccd}"></span></p>
                    </div>
                    <div class="form-group">
                        <label for="hoten" class="form-label">Họ và tên</label>
                        <p><span class="form-control" id="hoten" th:text="${phieuDangKy.user.hoten}"></span></p>
                    </div>
                    <div class="form-group">
                        <label for="sdt" class="form-label">Số điện thoại</label>
                        <p><span class="form-control" id="sdt" th:text="${phieuDangKy.sdt}"></span></p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <p><span class="form-control" id="email" th:text="${phieuDangKy.email}"></span></p>
                    </div>
                    <div class="form-group mb-4">
                        <label for="truong">Tên trường</label>
                        <p><span class="form-control" id="truong" th:text="${truongService.findTruongById(phieuDangKy.getTruongId()).getTenTruong()}"></span></p>
                    </div>
                    <div class="form-group">
                        <label for="ngayDangKy">Thời gian đăng ký</label>
                        <p><span class="form-control" id="ngayDangKy" th:text="${phieuDangKy.ngayDangKy}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>