<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SỬA CUỘC THI</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1 class="my-4">SỬA CUỘC THI</h1>
    <form th:action="@{/CuocThis/edit}" th:object="${cuocThi}" method="post">
        <div id="step-1" class="step-container active">
            <input type="hidden" th:field="*{id}" required>
            <div class="form-group">
                <label for="tenCuocThi">Tên cuộc thi</label>
                <input type="text" class="form-control" id="tenCuocThi" th:field="*{tenCuocThi}" required>
            </div>
            <div class="form-group">
                <label for="ngayThi">Thời gian tổ chức</label>
                <input type="datetime-local" class="form-control" id="ngayThi" th:field="*{ngayThi}" required>
            </div>
            <div class="form-group">
                <label for="soLuongThiSinh">Số lượng thí sinh</label>
                <input type="number" class="form-control" id="soLuongThiSinh" th:field="*{soLuongThiSinh}" required>
            </div>
            <div class="form-group">
                <label for="DiaDiemThi">Địa điểm tổ chức</label>
                <input type="text" class="form-control" id="DiaDiemThi" th:field="*{diaDiemThi}" required>
            </div>
            <div class="form-group">
                <label for="monThi">Môn thi</label>
                <select class="form-control" id="monThi" th:field="*{monThi}">
                    <option value="">-- Chọn môn thi --</option>
                    <option th:each="monThi : ${listMonThi}" th:value="${monThi.id}"
                            th:text="${monThi.tenMonThi}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="LoaiTruongId">Cấp thi</label>
                <select class="form-control" id="LoaiTruongId" th:field="*{LoaiTruongId}">
                    <option value="">-- chọn cấp thi --</option>
                    <option th:each="loaiTruong : ${listLoaiTruong}" th:value="${loaiTruong.id}"
                            th:text="${loaiTruong.tenLoaiTruong}"></option>
                </select>
            </div>
            <div class="form-group">
                <div th:if="${errorMessage != null}" class="alert alert-danger" th:text="${errorMessage}" style="margin-top: 20px; margin-bottom: 20px;"></div>
            </div>
            <div class="form-group">
                <button type="button" onclick="nextStep(2)" class="btn btn-primary custom-btn">Tiếp tục</button>
            </div>
        </div>
        <div id="step-2" class="step-container" style="display: none;">
            <div class="form-group">
                <h3><label class="control-label">Chọn quy định</label></h3>
                <div class="checkbox-list">
                    <div th:each="quyDinh : ${allQuyDinhs}" class="checkbox-item">
                        <input type="checkbox" id="'quyDinh' + ${quyDinh.id}" name="selectedQuyDinhs"
                               class="pointer-cursor" th:value="${quyDinh.id}"
                               th:checked="${chiTietQuyDinhs.contains(quyDinh)}"/>
                        <label th:for="'quyDinh' + ${quyDinh.id}" th:text="${quyDinh.tenQuyDinh}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div th:if="${errorMessageQuyDinh != null}" class="alert alert-danger" th:text="${errorMessageQuyDinh}" style="margin-top: 20px; margin-bottom: 20px;"></div>
            </div>
            <div class="form-group">
                <button type="button" onclick="nextStep(1)" class="btn btn-primary custom-btn custom-btn-left">
                    Quay lại
                </button>
                <button type="button" onclick="nextStep(3)" class="btn btn-primary custom-btn custom-btn-right">
                    Tiếp tục
                </button>
            </div>
        </div>
        <div id="step-3" class="step-container" style="display: none;">
            <div class="form-group">
                <h3><label class="control-label">Chọn nội dung</label></h3>
                <div class="checkbox-list">
                    <div th:each="noiDung : ${allNoiDungs}" class="checkbox-item">
                        <input type="checkbox" id="'noiDung' + ${noiDung.id}" name="selectedNoiDungs"
                               class="pointer-cursor" th:value="${noiDung.id}"
                               th:checked="${chiTietNoiDungs.contains(noiDung)}"/>
                        <label th:for="'noiDung' + ${noiDung.id}" th:text="${noiDung.tenNoiDung}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div th:if="${errorMessageNoiDung != null}" class="alert alert-danger" th:text="${errorMessageNoiDung}" style="margin-top: 20px; margin-bottom: 20px;"></div>
            </div>
            <div class="form-group">
                <button type="button" onclick="nextStep(2)" class="btn btn-primary custom-btn">Quay lại</button>
                <input type="submit" value="Lưu" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
<script th:src="@{/js/TaoCuocThi.js}"></script>
</body>
</html>