<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>DANH SÁCH CUỘC THI</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="my-4">DANH SÁCH CUỘC THI</h1>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Mã</th>
            <th>Tên cuộc thi</th>
            <th>Ngày thi</th>
            <th>Số lượng</th>
            <th>Địa điểm</th>
            <th>Môn thi</th>
            <th>Cấp thi</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cuocThi : ${cuocThis}">
            <td th:text="${cuocThi.id}"></td>
            <td th:text="${cuocThi.tenCuocThi}"></td>
            <td th:text="${cuocThi.ngayThi}"></td>
            <td th:text="${phieuDangKyService.countPhieuDangKyByCuocThiId(cuocThi.id)} + '/' + ${cuocThi.soLuongThiSinh}"></td>
            <td th:text="${cuocThi.diaDiemThi}"></td>
            <td th:text="${cuocThi.monThi.tenMonThi}"></td>
            <td th:text="${loaiTruongService.getNameById(cuocThi.loaiTruongId)}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/PhieuDangKys/add/id/{id}(id=${cuocThi.id})}">Đăng ký</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>