<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Noi Dung</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Add Noi Dung</h1>
    <form th:action="@{/noidungs/add}" th:object="${noidung}" method="post" enctype="multipart/form-data">
        <div class="col-6 mb-3">
            <label class="form-label" for="tenNoiDung">Tên Nội Dung:</label><span class="text-danger">*</span>
            <input class="form-control" type="text" placeholder="Enter Tên Nội Dung" th:field="*{tenNoiDung}" id="tenNoiDung" required autofocus>
            <span class="text-danger" th:if="${#fields.hasErrors('tenNoiDung')}" th:errors="*{tenNoiDung}"></span>
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="trangThai">Trạng Thái:</label>
            <input class="form-control" type="number" th:field="*{trangThai}" id="trangThai" placeholder="Enter Trạng Thái">
            <span class="text-danger" th:if="${#fields.hasErrors('trangThai')}" th:errors="*{trangThai}"></span>
        </div>

        <div class="col-6 mb-3">
            <label for="image" class="form-label">Image:</label>
            <input type="file" id="image" name="image" class="form-control"/>
        </div>

        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
    <br>
    <a th:href="@{/noidungs}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
