<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CHI TIẾT NỘI DUNG</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1 class="my-4">CHI TIẾT NỘI DUNG</h1>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:src="@{${noiDung.imageUrl}}" class="card-img" alt="Nội dung Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${noiDung.tenNoiDung}"></h5>
                    <p class="card-text" th:text="${noiDung.moTaNoiDung}"></p>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/NoiDungs}" class="btn btn-secondary">Trở về</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>