<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <title>Thêm Quy Định</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Thêm Quy Định</h1>
    <form th:action="@{/quydinhs/add}" th:object="${quyDinh}" method="post" enctype="multipart/form-data">
        <div class="col-6 mb-3">
            <label class="form-label" for="tenQuyDinh">Tên Quy Định</label><span class="text-danger">*</span>
            <input class="form-control" type="text" placeholder="Tên Quy Định" th:field="*{tenQuyDinh}" id="tenQuyDinh" required autofocus >
            <span class="text-danger" th:if="${#fields.hasErrors('tenQuyDinh')}" th:errors="*{tenQuyDinh}"></span>
        </div>

        <div class="col-6 mb-3">
            <label for="image" class="form-label">Ảnh</label>
            <input type="file" id="image"  name="image" class="form-control"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
    <br>
    <a th:href="@{/quydinhs}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
