<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Quy Định</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <h1>Danh sách Quy Định</h1>
                    <form class="d-flex" th:action="@{/quydinhs/search}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name="keyword">
                        <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th><a th:href="@{/quydinhs(pageNo=${currentPage}, sortBy='id')}">Id</a></th>
            <th>Tên Quy Định</th>
            <th>Ảnh</th>
            <th>Trạng Thái</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quyDinh : ${quydinhs}">
            <td th:text="${quyDinh.getId()}"></td>
            <td th:text="${quyDinh.getTenQuyDinh()}"></td>
<!--            <td><img th:src="@{${quyDinh.getImageUrl()}}" width="100px" height="100px" alt="Ảnh bị lỗi"></td>-->
            <td><img th:src="@{${quyDinh.getImageUrl()}}" width="100px" height="100px" alt="Ảnh bị lỗi"></td>
            <td th:text="${quyDinh.getTrangThai()}"></td>
            <td colspan="2">
                <a class="btn btn-primary" th:href="@{/quydinhs/edit/{id}(id=${quyDinh.getId()})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/quydinhs/delete/{id}(id=${quyDinh.getId()})}" onclick="return confirm('Bạn có chắc chắn muốn xóa quy định này không?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm" th:each="i : ${#numbers.sequence(0, totalPages)}">
        <li class="page-item" th:classappend="${currentPage == i} ? 'active'">
            <a class="page-link" th:href="@{/quydinhs(pageNo=${i})}" th:text="${i}"></a>
        </li>
    </ul>
</nav>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
