<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QUẢN LÝ QUY ĐỊNH</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="my-4">DANH SÁCH QUY ĐỊNH</h1>
        <a class="btn btn-success mb-4" th:href="@{/QuyDinhs/add}">Tạo mới</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Mã</th>
            <th>Ảnh</th>
            <th>Tên quy định</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quyDinh : ${quyDinhs}">
            <td th:text="${quyDinh.id}"></td>
            <td><img th:src="@{${quyDinh.getImageUrl()}}" width="100px" height="100px" alt="Ảnh"></td>
            <td th:text="${quyDinh.getTenQuyDinh}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/QuyDinhs/id/{id}(id=${quyDinh.id})}">Xem</a>
                <a class="btn btn-primary btn-sm" th:href="@{/QuyDinhs/edit/{id}(id=${quyDinh.id})}">Sửa</a>
                <a class="btn btn-danger btn-sm" th:href="@{/QuyDinhs/AnHien/{id}(id=${quyDinh.id})}"
                   th:text="${quyDinh.trangThai == 1 ? 'Hiện' : 'Ẩn'}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Bảng Quy Định</title>-->
<!--    <style>-->
<!--        #a1{-->
<!--            margin: 20px 240px;-->

<!--        }-->
<!--        .table-container {-->
<!--            display: flex;-->
<!--            flex-wrap: wrap;-->
<!--        }-->
<!--        .table-item {-->
<!--            flex: 1 1 calc(33.333% - 20px); /* 3 cột, trừ khoảng cách giữa các ô */-->
<!--            box-sizing: border-box;-->
<!--            margin:  10px;-->
<!--            padding: 0px 20px;-->
<!--            border: 1px solid #ddd;-->
<!--            border-radius: 5px;-->
<!--            text-align: center;-->
<!--            width: calc(33.333% - 20px); /* Đảm bảo chiều rộng đúng */-->
<!--            height: 300px; /* Chiều cao dài ra */-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            justify-content: center;-->
<!--        }-->
<!--        .table-item img {-->
<!--            width: 350px; /* Chiều rộng nhỏ lại */-->
<!--            height: 250px;-->
<!--            object-fit: cover;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="table-container" id="a1">-->
<!--    <div class="table-item" th:each="quyDinh : ${quyDinhs}">-->
<!--        <div>-->
<!--            <img th:src="@{${quyDinh.getImageUrl()}}" alt="Ảnh">-->
<!--        </div>-->
<!--        <div th:text="${quyDinh.getTenQuyDinh}">Tên quy định</div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
